<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Waffl\Desktop\C#\MyTests\Layout\Layout\Layout\DataBaseFront\FakeDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="FakeDBEntities" connectionString="metadata=res://*/DataBaseFront.FakeDBModel.csdl|res://*/DataBaseFront.FakeDBModel.ssdl|res://*/DataBaseFront.FakeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Waffl\Desktop\C#\MyTests\Layout\Layout\Layout\DataBaseFront\FakeDB.mdf;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>